@font-face {
    font-family: 'Varela';
    src: url(/src/components/fonts/VarelaRound-Regular.ttf);
}

.app {
    font-family: 'Varela';
    background-color: #FFBE16;
    padding-top: 16em;
    padding-bottom: 17em;
    padding-right: 10em;
    padding-left: 10em;
}

.mission-title {
    font-size: 9em;
}

.mission-statement {
    font-size: 1.5em;

}



