/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

#root {
    height: 100%;
} */


@font-face {
    font-family: "Varela";
    src: url("./components/fonts/VarelaRound-Regular.ttf");
  }

body, html { 
    font-family: 'Varela';
  }